<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-md-12">

            <div>
                <h3 class="text-center mb-4 text-monospace">Deletar Postagem?</h3>
            </div>

            <hr class="mt-5 mb-5">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="card col-md-3 ml-3 mt-5 mr-3">
                        <img class="card-img-top" src="{{produto.imagem}}" alt="Imagem do produto">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{produto.nome}}</h5>
                        </div>
                        <p class="card-text">Código: {{produto.id}}</p>
                        <p class="card-text">Preço: R{{produto.preco | currency}}</p>
                        <p class="card-text">Quantidade em estoque: {{produto.qtdEstoque}}</p>
                    </div>
                </div>
            </div>
            <hr class="mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-center mb-5">Tem certeza que deseja apagar essa postagem?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-outline-success mr-3" (click)="btnSim()">Sim</button>
                    <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
                </div>
            </div>
        </div>
    </div>